In [31]:

!pip install pyspark py4j
!pip install findspark

# Import findspark and initialize.
import findspark
findspark.init()

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.1)
Requirement already satisfied: py4j in /usr/local/lib/python3.10/dist-packages (0.10.9.7)
Requirement already satisfied: findspark in /usr/local/lib/python3.10/dist-packages (2.0.1)

In [32]:
# Import packages
from pyspark.sql import SparkSession
import time

# Create a SparkSession
spark = SparkSession.builder.appName("SparkSQL").getOrCreate()

In [33]:
# 1. Read in the AWS S3 bucket into a DataFrame.
from pyspark import SparkFiles
url = "https://2u-data-curriculum-team.s3.amazonaws.com/dataviz-classroom/v1.2/22-big-data/home_sales_revised.csv"

spark.sparkContext.addFile(url)
df=spark.read.csv(SparkFiles.get("home_sales_revised.csv"),sep= "," ,header=True, inferSchema=True)
df.show()

+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+
|                  id|      date|date_built| price|bedrooms|bathrooms|sqft_living|sqft_lot|floors|waterfront|view|
+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+
|f8a53099-ba1c-47d...|2022-04-08|      2016|936923|       4|        3|       3167|   11733|     2|         1|  76|
|7530a2d8-1ae3-451...|2021-06-13|      2013|379628|       2|        2|       2235|   14384|     1|         0|  23|
|43de979c-0bf0-4c9...|2019-04-12|      2014|417866|       2|        2|       2127|   10575|     2|         0|   0|
|b672c137-b88c-48b...|2019-10-16|      2016|239895|       2|        2|       1631|   11149|     2|         0|   0|
|e0726d4d-d595-407...|2022-01-08|      2017|424418|       3|        2|       2249|   13878|     2|         0|   4|
|5aa00529-0533-46b...|2019-01-30|      2017|218712|       2|        3|       1965|   14375|     2|         0|   7|
|131492a1-72e2-4a8...|2020-02-08|      2017|419199|       2|        3|       2062|    8876|     2|         0|   6|
|8d54a71b-c520-44e...|2019-07-21|      2010|323956|       2|        3|       1506|   11816|     1|         0|  25|
|e81aacfe-17fe-46b...|2020-06-16|      2016|181925|       3|        3|       2137|   11709|     2|         0|  22|
|2ed8d509-7372-46d...|2021-08-06|      2015|258710|       3|        3|       1918|    9666|     1|         0|  25|
|f876d86f-3c9f-42b...|2019-02-27|      2011|167864|       3|        3|       2471|   13924|     2|         0|  15|
|0a2bd445-8508-4d8...|2021-12-30|      2014|337527|       2|        3|       1926|   12556|     1|         0|  23|
|941bad30-eb49-4a7...|2020-05-09|      2015|229896|       3|        3|       2197|    8641|     1|         0|   3|
|dd61eb34-6589-4c0...|2021-07-25|      2016|210247|       3|        2|       1672|   11986|     2|         0|  28|
|f1e4cef7-d151-439...|2019-02-01|      2011|398667|       2|        3|       2331|   11356|     1|         0|   7|
|ea620c7b-c2f7-4c6...|2021-05-31|      2011|437958|       3|        3|       2356|   11052|     1|         0|  26|
|f233cb41-6f33-4b0...|2021-07-18|      2016|437375|       4|        3|       1704|   11721|     2|         0|  34|
|c797ca12-52cd-4b1...|2019-06-08|      2015|288650|       2|        3|       2100|   10419|     2|         0|   7|
|0cfe57f3-28c2-472...|2019-10-04|      2015|308313|       3|        3|       1960|    9453|     2|         0|   2|
|4566cd2a-ac6e-435...|2019-07-15|      2016|177541|       3|        3|       2130|   10517|     2|         0|  25|
+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+
only showing top 20 rows

In [34]:
df.printSchema()

root
 |-- id: string (nullable = true)
 |-- date: date (nullable = true)
 |-- date_built: integer (nullable = true)
 |-- price: integer (nullable = true)
 |-- bedrooms: integer (nullable = true)
 |-- bathrooms: integer (nullable = true)
 |-- sqft_living: integer (nullable = true)
 |-- sqft_lot: integer (nullable = true)
 |-- floors: integer (nullable = true)
 |-- waterfront: integer (nullable = true)
 |-- view: integer (nullable = true)

In [35]:
# 2. Create a temporary view of the DataFrame.
df.createOrReplaceTempView('home_sales')

In [36]:
# 3. What is the average price for a four bedroom house sold per year, rounded to two decimal places?
# Create a column with the year from the date column
from pyspark.sql.functions import year
import pyspark.sql.functions as f
df = df.withColumn("year",year(df['date']))

#Filter to only 4 bedroom houses
df_4br = df.filter(df['bedrooms'] == 4)
# Calculate the average price per year for 4 bedroom houses
averages_4br = df_4br.groupBy('year').avg()

# Rename the avg(price) column to avg_price
averages_4br = averages_4br.withColumnRenamed('avg(price)', 'avg_price')
# create a new column with the rounded average price showing 2 decimal places
averages_4br = averages_4br.withColumn('rounded_avg_price', f.round(f.col('avg_price'),2))

averages_4br.orderBy('year').select('year','rounded_avg_price').show()

+----+-----------------+
|year|rounded_avg_price|
+----+-----------------+
|2019|         300263.7|
|2020|        298353.78|
|2021|        301819.44|
|2022|        296363.88|
+----+-----------------+

In [37]:
# 4. What is the average price of a home for each year the home was built,
# that have 3 bedrooms and 3 bathrooms, rounded to two decimal places?

# Filter to only 3 bedroom houses with 3 bathrooms
df_3br_3ba = df.filter((df['bedrooms'] == 3) & (df['bathrooms'] == 3))

# Calculate the average price by year built for these houses
averages_3br_3ba = df_3br_3ba.groupBy('date_built').avg()

# Rename the avg(price) column to avg_price
averages_3br_3ba = averages_3br_3ba.withColumnRenamed('avg(price)', 'avg_price')

# create a new column with the rounded average price showing 2 decimal places
averages_3br_3ba = averages_3br_3ba.withColumn('rounded_avg_price', f.round(f.col('avg_price'),2))

averages_3br_3ba.orderBy('date_built').select('date_built','rounded_avg_price').show()

+----------+-----------------+
|date_built|rounded_avg_price|
+----------+-----------------+
|      2010|        292859.62|
|      2011|        291117.47|
|      2012|        293683.19|
|      2013|        295962.27|
|      2014|        290852.27|
|      2015|         288770.3|
|      2016|        290555.07|
|      2017|        292676.79|
+----------+-----------------+

In [38]:
# 5. What is the average price of a home for each year the home was built,
# that have 3 bedrooms, 3 bathrooms, with two floors,
# and are greater than or equal to 2,000 square feet, rounded to two decimal places?
# Filter 3 bedroom houses with 3 bathrooms to include only 2 floors and at least 2000 sqft
df_3br_3ba_2fl_2k = df_3br_3ba.filter((df_3br_3ba['floors'] == 2) & (df_3br_3ba['sqft_living'] >= 2000))

# Calculate the average price by year built for these houses
averages_3br_3ba_2fl_2k = df_3br_3ba_2fl_2k.groupBy('date_built').avg()

# Rename the avg(price) column to avg_price
averages_3br_3ba_2fl_2k = averages_3br_3ba_2fl_2k.withColumnRenamed('avg(price)', 'avg_price')

# create a new column with the rounded average price showing 2 decimal places
averages_3br_3ba_2fl_2k = averages_3br_3ba_2fl_2k.withColumn('rounded_avg_price', f.round(f.col('avg_price'),2))

averages_3br_3ba_2fl_2k.orderBy('date_built').select('date_built','rounded_avg_price').show()

+----------+-----------------+
|date_built|rounded_avg_price|
+----------+-----------------+
|      2010|        285010.22|
|      2011|        276553.81|
|      2012|        307539.97|
|      2013|        303676.79|
|      2014|        298264.72|
|      2015|        297609.97|
|      2016|         293965.1|
|      2017|        280317.58|
+----------+-----------------+

In [54]:
# 6. What is the average price of a home per "view" rating, rounded to two decimal places,
# having an average home price greater than or equal to $350,000? Order by descending view rating.
# Although this is a small dataset, determine the run time for this query.

start_time = time.time()

# Calculate the average price by view rating
averages_by_view = df.groupBy('view').avg()

# create a new column with the rounded average price showing 2 decimal places
averages_by_view_rounded = averages_by_view.withColumn('rounded_avg_price', f.round(f.col('avg(price)'),2))

# Filter to only houses with average price greater than or equal to $350,000
averages_by_view_rounded= averages_by_view_rounded.filter((averages_by_view_rounded['avg(price)'] >= 350000))

averages_by_view_rounded.orderBy(f.col('view').desc()).select('rounded_avg_price','view').show()
print("--- %s seconds ---" % (time.time() - start_time))

+-----------------+----+
|rounded_avg_price|view|
+-----------------+----+
|        1026669.5| 100|
|       1061201.42|  99|
|       1053739.33|  98|
|       1129040.15|  97|
|       1017815.92|  96|
|        1054325.6|  95|
|        1033536.2|  94|
|       1026006.06|  93|
|        970402.55|  92|
|       1137372.73|  91|
|       1062654.16|  90|
|       1107839.15|  89|
|       1031719.35|  88|
|        1072285.2|  87|
|       1070444.25|  86|
|       1056336.74|  85|
|       1117233.13|  84|
|       1033965.93|  83|
|        1063498.0|  82|
|       1053472.79|  81|
+-----------------+----+
only showing top 20 rows

--- 0.6586861610412598 seconds ---

In [55]:
# 7. Cache the the temporary table home_sales.
spark.catalog.cacheTable('home_sales')

In [56]:
# 8. Check if the table is cached.
spark.catalog.isCached('home_sales')

True

In [57]:
# 9. Using the cached data, run the last query above, that calculates
# the average price of a home per "view" rating, rounded to two decimal places,
# having an average home price greater than or equal to $350,000.
# Determine the runtime and compare it to the uncached runtime.

start_time = time.time()

# Calculate the average price by view rating
averages_by_view = df.groupBy('view').avg()

# create a new column with the rounded average price showing 2 decimal places
averages_by_view_rounded = averages_by_view.withColumn('rounded_avg_price', f.round(f.col('avg(price)'),2))

# Filter to only houses with average price greater than or equal to $350,000
averages_by_view_rounded= averages_by_view_rounded.filter((averages_by_view_rounded['avg(price)'] >= 350000))

averages_by_view_rounded.orderBy(f.col('view').desc()).select('rounded_avg_price','view').show()

print("--- %s seconds ---" % (time.time() - start_time))

+-----------------+----+
|rounded_avg_price|view|
+-----------------+----+
|        1026669.5| 100|
|       1061201.42|  99|
|       1053739.33|  98|
|       1129040.15|  97|
|       1017815.92|  96|
|        1054325.6|  95|
|        1033536.2|  94|
|       1026006.06|  93|
|        970402.55|  92|
|       1137372.73|  91|
|       1062654.16|  90|
|       1107839.15|  89|
|       1031719.35|  88|
|        1072285.2|  87|
|       1070444.25|  86|
|       1056336.74|  85|
|       1117233.13|  84|
|       1033965.93|  83|
|        1063498.0|  82|
|       1053472.79|  81|
+-----------------+----+
only showing top 20 rows

--- 1.7444448471069336 seconds ---

In [ ]:
# 10. Partition by the "date_built" field on the formatted parquet home sales data

In [ ]:
# 11. Read the formatted parquet data.

In [ ]:
# 12. Create a temporary table for the parquet data.

In [ ]:
# 13. Using the parquet DataFrame, run the last query above, that calculates
# the average price of a home per "view" rating, rounded to two decimal places,
# having an average home price greater than or equal to $350,000.
# Determine the runtime and compare it to the cached runtime.

start_time = time.time()



print("--- %s seconds ---" % (time.time() - start_time))

In [58]:
# 14. Uncache the home_sales temporary table.
spark.sql("uncache table home_sales")

DataFrame[]

In [59]:
# 15. Check if the home_sales is no longer cached
spark.catalog.isCached("home_sales")

False